---
interface Props {
    title: string;
    subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<div class="header">
    <h2>{title}</h2>
    <p>{subtitle}</p>
</div>

<style>
    .header {
        text-align: center;
        margin-bottom: 60px;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 16px;
    }
    p {
        color: var(--text-muted);
    }
</style>
